@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
     text-decoration: none;
     font-family: "Poppins", sans-serif;
}

body {
     width: 90%;
     max-width: 1200px;
     margin: 0 auto;
}

.container {
     display: flex;
     justify-content: center;
     flex-direction: row;
     align-items: flex-start;
     gap: 1.5rem;
}

.main-container {
     width: 30%;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: flex-start;
     box-shadow: 0 0 20px #000;
     padding: 1rem;
     border-radius: 20px;
}

.heading-section {
     text-align: center;
     margin: 0.9rem 0;
}

.input-container {
     width: 100%;
     margin: 1.1rem 0;
}

.input-section input[type="text"] {
     width: 100%;
     padding: 0.5rem;
     margin: 0.8rem 0;
     border: 2px solid #000;
     border-radius: 5px;
     font-size: 1rem;
     font-weight: 600;
}

.input-section button {
     width: 100%;
     padding: 0.8rem;
     border: 2px solid #000;
     border-radius: 5px;
}

table, tr, th, td {
     border: 1px solid #000;
     border-collapse: collapse;
     padding: 0.9rem;
     min-width: 100%;
     font-size: 1.2rem;
     text-align: center;
}

h2 {
     text-align: center;
     margin-bottom: 1.1rem;
}

.price-section {
     width: 100%;
}

.price-container {
     width: 100%;
     margin: 0.9rem 0;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.table-section {
     max-height: 270px;
     overflow: auto;
}

.search-container {
     display: flex;
     justify-content: center;
     flex-direction: column;
     width: 50%;
     border-radius: 10px;
     padding: 1rem;
     box-shadow: 0 0 20px #000;
}

.search-section input[type="text"] {
     width: 100%;
     padding: 0.5rem;
     margin-bottom: 1.1rem;
     border: 2px solid #000;
     border-radius: 5px;
     font-size: 1rem;
     font-weight: 600;
}

.delete-btn {
     background-color: #c00;
     color: #fff;
     padding: 0.5rem;
     width: 100%;
     border-radius: 5px;
     font-size: 1rem;
}